// GLOBAL

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;
  font-family: inherit;

  td, th {
    padding: 0;
  }

  th {
    text-align: left;
  }

  tr {
    @include transition(all 0.2s ease 0s);
  }

  > thead > tr > th,
  > tbody > tr > th,
  > tfoot > tr > th,
  > thead > tr > td,
  > tbody > tr > td,
  > tfoot > tr > td {
    padding: 1rem 0.5rem;
    vertical-align: top;
    box-shadow: 0 1px 0 0 $brdr-rgba;
  }

  > thead > tr > th:first-child,
  > tbody > tr > th:first-child,
  > tfoot > tr > th:first-child,
  > thead > tr > td:first-child,
  > tbody > tr > td:first-child,
  > tfoot > tr > td:first-child {
    padding-left: 1rem;
  }

  > thead > tr > th:last-child,
  > tbody > tr > th:last-child,
  > tfoot > tr > th:last-child,
  > thead > tr > td:last-child,
  > tbody > tr > td:last-child,
  > tfoot > tr > td:last-child {
    padding-right: 1rem;
  }

  > thead > tr > th {
    vertical-align: bottom;
    background: #fff;
    a {
      display: inline-block;
      &.sort:after {
        font-size: 1rem;
        margin-left: 0.25rem;
      }
      &.sort-none:after {
        @extend .collecticon-sort-none;
      }
      &.sort-asc:after {
        @extend .collecticon-sort-asc;
        
      }
      &.sort-desc:after {
        @extend .collecticon-sort-desc;
      }
    }
    a, a:visited, a:hover {
      color: inherit;
    }
  }
}

.table-actions-list {
  word-spacing: -0.26rem;
  text-align: right;
  * {
    vertical-align: top;
    word-spacing: normal;
  }
  > * {
    display: inline-block;
    margin-left: 0.5rem;

    &:first-child {
      margin-left: 0;
    }
  } 
}


// TOKENS TABLE

.tokens-table {
  margin-bottom: 0;
  table-layout: fixed;
  td, th {
    word-wrap: break-word;
  }
  th:not(.th-edit-date),
  th:not(.th-expiration-date),
  td:not(.cell-description) {
    white-space: nowrap;
  }
  tr:hover {
    background: rgba(#fff, 0.32);
  }
  .th-actions span {
    @extend .visually-hidden;
  }
  .th-status {
    width: 8rem;
  }
  .th-description {
    width: auto;
  }
  .th-edit-date,
  .th-expiration-date {
    width: 8rem;
  }
  .th-actions {
    width: 6rem;
  }
  .cell-description {
    strong {
      font-weight: $base-font-regular;
    }
    p {
      opacity: 0.64;
    }
  }
  .status {
    vertical-align: top;
  }
}